VITE_SUPABASE_URL=https://skltwbyjkodmhncbcfwl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNrbHR3Ynlqa29kbWhuY2JjZndsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEwMjA5OTksImV4cCI6MjEwNjU5Njk5OX0.17MlCvNQMkrp5j-9fTMk00j3PNQB0QBoNIbs3t4H_lA
VITE_PAYSTACK_PUBLIC_KEY=pk_test_08f28328555ca98c97385bd87145915734996f7d
